#root {
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  max-width: 350px;
  height: auto;
  padding: 1rem;
  border-radius: 1rem;
  border: solid 1px var(--dark-gray);
  background-color: var(--white);
}

.flag {
  width: 100%;
  height: 150px;
}

.flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}

.container {
  background-color: var(--very-light-gray);
}

.browser {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.details {
  padding: 1rem;
}

.country-detail {
  font-weight: bolder;
}

.country-name {
  margin-bottom: 0.5rem;
}

.detail {
  font-weight: 300;
}
