#root {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}

.browser {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.country-detail {
  font-weight: bold;
}
